<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Détail d'un Event</title>
</head>


<body>
    <br><br><br><br>
    <section class="container">
        <div class="card mb-4">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-4 p-5">
                        <a class="" href="#!"><span class="badge rounded-pill bg-dark">Web</span></a>
                        <h1>Session de code</h1>
                        </a>
                        <img data-src="holder.js/32x32?theme=thumb&amp;bg=6f42c1&amp;fg=6f42c1&amp;size=1" alt="32x32" class="rounded " src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17b53778239%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17b53778239%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.0390625%22%20y%3D%2217.2%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                        <em>John Doe</em>
                        <br><br>
                        <p>Etiam interdum iaculis erat, sed viverra diam ullamcorper non.</p>
                        <a class="text-arrow-icon small" href="#!">Voir le profil
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                </a>
                    </div>
                    <div class="col-lg-8 align-self-stretch bg-img-cover d-none d-lg-flex" style="background-image: url('https://source.unsplash.com/npxXWgQ33ZQ/1200x800')"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-8 col-lg-9">
                <div class="me-2" role="group" aria-label="First group">
                    <span class="text-primary me-2"><i class="fas fa-users color-primary"></i> 10</span>
                    <span class="text-primary me-2"><i class="fas fa-calendar-alt"></i>  13 janvier 2021</span>
                    <span class="text-primary me-2"><i class="fas fa-clock"></i>  11h45</span>
                    <span class="text-primary me-2"><i class="fas fa-thumbs-up"></i>  8</span>
                </div>
            </div>
            <div class="mb-5 col-lg-3" role="toolbar">
                <div class="me-2" role="group" aria-label="First group">
                    <button class="btn btn-primary">Participer à l'évenement</button>
                </div>
            </div>
            <hr>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-8 d-flex align-items-stretch">
                <article>
                    <h2>Soirée code</h2>
                    <p>The multivehicle collision happened on I-75 between Emory Road and Raccoon Valley. KNOXVILLE, Tenn. </p>
                    <p>— One person is dead and two others were injured after two people got out of their vehicles on Interstate 75 in North Knox County where a tree had fallen. The collision occurred on I-75 near Emory Road and Raccoon Valley Sunday night.
                        When crews arrived they discovered one person dead and two others injured, Rural Metro said. The Tennessee Highway Patrol said a trooper responded around 11:13 p.m., saying the crash happened after a tree fell within the roadway.</p>
                    <p>
                        According to THP's incident report, 26-year-old Dylan Braden from Lake City was driving north on I-75 at mile marker 114 when he had come in contact with the tree and got out of his vehicle to check for damage. A person driving behind him, identified
                        as 33-year-old Jess Goforth from Charlotte, North Carolina, was able to avoid the tree and other vehicles, and stopped to check on Braden -- getting out of their vehicle as well. THP said a third person driving north on I-75, identified
                        as 61-year-old Tammy Harrell from Clinton, hit a concrete wall while trying to avoid the tree. The crash report said her vehicle then lost control and hit both Braden and Goforth.</p>
                    <p> The crash report said Braden was pronounced dead. Goforth and Harrell were both injured in the crash. Rural Metro said the two were taken to UT Medical Center with injuries of varying degrees of severity. THP said it continues to investigate
                        the crash. The crash report said any charges against Harrell are pending the investigation.</p>
                    The multivehicle collision happened on I-75 between Emory Road and Raccoon Valley. KNOXVILLE, Tenn. </p>
                    <p>— One person is dead and two others were injured after two people got out of their vehicles on Interstate 75 in North Knox County where a tree had fallen. The collision occurred on I-75 near Emory Road and Raccoon Valley Sunday night.
                        When crews arrived they discovered one person dead and two others injured, Rural Metro said. The Tennessee Highway Patrol said a trooper responded around 11:13 p.m., saying the crash happened after a tree fell within the roadway.</p>
                </article>
            </div>
            <div class="col-4 pr-5 align-items-stretch">
                <div class="info">
                    <div class="">
                        <h4><i class="fas fa-map-marker-alt"></i> Localisation:</h4>
                        <p>A108 Grande rue, Dijon, 21000</p>
                    </div>

                    <div class="email">
                        <h4><i class="fas fa-envelope"></i> Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <h4><i class="fas fa-phone"></i> Contact:</h4>
                        <p>06 66 66 66 21</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86531.29608367669!2d4.962181302022754!3d47.3318596663239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f29d8ceffd9675%3A0x409ce34b31458d0!2s21000%20Dijon!5e0!3m2!1sfr!2sfr!4v1629207504517!5m2!1sfr!2sfr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </div>

        </div>
        <div class="group">
            <h5>Partagez sur les réseaux :</h5>
            <span><a href="#" class="color-primary me-2"><i class="fab fa-facebook"></i></a></span>
            <span><a href="#" class="color-primary me-2"><i class="fab fa-twitter"></i></a></span>
            <span><a href="#" class="color-primary me-2"><i class="fab fa-instagram"></i></a></span>
            <span><a href="#" class="color-primary me-2"><i class="fab fa-github"></i></a></span>
        </div>
    </section>
    <br><br><br><br><br><br><br><br>
</body>

</html>